extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Maliha Tanweer  

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have a background in biology and some computer science. I was always afraid of learning programming because I thougth that it is very difficult. 
            | But after completing the projects, I have acquired much knowledge and experience in programming. Now I feel confident calling myself a full stack developer who
            | is eager to learn more and build productive applications.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li Object Oriented Javascript
          li jQuery
          li Express
          li Nodejs
          li Git and Github
        h6 Contact Info

        ul
          li 917-945-1234
          li malihatanweer@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/maliha-tanweer/') LinkedIn
        a.button.expanded(href= 'https://github.com/malihat') GitHub
        a.button.expanded(href='https://twitter.com/maliha_tanweer') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  